body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    text-align: center;
    color: navy;
}

a {
    display: block;
    text-align: center;
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}